
#
# SDK tool configuration
#

#Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

#partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x10000

#ESP32 TTGO + OLED
CONFIG_ESP32_XTAL_FREQ_26=y
CONFIG_ESP32_XTAL_FREQ=26
CONFIG_SSD1306_ENABLE_DEFAULT_I2C_INTERFACE=y
CONFIG_SSD1306_DEFAULT_I2C_PORT_NUMBER=1
CONFIG_SSD1306_DEFAULT_I2C_SCL_PIN=15
CONFIG_SSD1306_DEFAULT_I2C_SDA_PIN=4