<!DOCTYPE html>
<html>
<head>
	<title>ESP-MONITOR - Configuration</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
	<link rel="icon" href="data:,">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript">
		function loadXMLDoc() {
		  var xmlhttp = new XMLHttpRequest();
		  xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
					loadData(this);
			}
		  };
		  xmlhttp.open("GET", "config.xml" , true);
		  xmlhttp.send();
		}

		function loadData(xml) {
			var xmlDoc = xml.responseXML;
			document.getElementById("f_version").innerHTML = xmlDoc.getElementsByTagName("f_version")[0].childNodes[0].nodeValue;
			document.getElementById("h_version").innerHTML = xmlDoc.getElementsByTagName("h_version")[0].childNodes[0].nodeValue;
			document.getElementById("sensor_type").innerHTML = xmlDoc.getElementsByTagName("sensor_type")[0].childNodes[0].nodeValue;
			document.getElementById("location").innerHTML = xmlDoc.getElementsByTagName("location")[0].childNodes[0].nodeValue;
			document.getElementById("xml").value = "NULL";
			var oSerializer = new XMLSerializer();
			var sXML = oSerializer.serializeToString(xmlDoc);
			document.getElementById("xml").value = sXML;
		}
		
		function sendForm() {
			var formData = document.getElementById("xml").value;
			var temp = formData.replace(/&lt;/g,"<");
			formData = temp.replace(/&gt;/g,">");
			
		    var xmlhttp = new XMLHttpRequest();
			xmlhttp.open('POST','config.xml', true);
			xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
					console.log(xmlhttp.responseXML);
				}
			};
			
			xmlhttp.setRequestHeader('Content-Type', 'text/xml');
			
			xmlhttp.send(formData);
			
			xmlhttp.onload = function() {
				if (xmlhttp.status != 200) { // HTTP error?
					// handle error
					alert( 'Error: ' + xmlhttp.status);
					return;
				}
				if (xmlhttp.readyState === xmlhttp.DONE) {
					if (xmlhttp.status === 200) {
						document.getElementById("response").innerHTML = xmlhttp.responseText;
						location.reload();
					}
				}
			  // get the response from xhr.response
			};

			xmlhttp.onerror = function() {
			  // handle non-HTTP error (e.g. network down)
			  alert( 'Error: ' + xmlhttp.status);
			};
			
				
		  return false; // Prevent page from submitting.
		}
	</script>
</head>
<body onload="loadXMLDoc();">
	<div class="topnav">
		<a class="active" href="index.html">Configuration</a>
		<a href="log.html">Log</a>
		<a href="sensor_data.html">Sensor data</a>
		<div class="info">
			Firmware Version: <strong id="f_version"> %F_VERSION%</strong><br>
			Hardware Version: <strong id="h_version"> %H_VERSION%</strong><br>
			Sensor Type: <strong id="sensor_type"> %S_TYPE%</strong><br>
			Location: <strong id="location"> %S_LOCATION%</strong><br>
		</div>
	</div> 

	<h1>ESP-MONITOR - Configuration</h1>
	<form method="POST" id="config_form" target="_parent">
		<textarea id="xml" form="config_form" style="width: 550px; height: 500px;">{{xmlString}}</textarea><br><br>
		<input type="submit" value="SaveXML" onclick="return sendForm();">
	</form>
	<br><br>
	<p id="response" ></p>
</body>
</html>
