<!DOCTYPE html>
<html>
<head>
	<title>ESP-MONITOR - LOG</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
	<link rel="icon" href="data:,">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript">
		function loadConfigDoc() {
		  var xmlhttp = new XMLHttpRequest();
		  xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
					loadData(this);
			}
		  };
		  xmlhttp.open("GET", "config.txt" , true);
		  xmlhttp.send();
		}

		function loadData(txt) {
			var allText = txt.responseText;
			var pos = allText.indexOf("f_version=") + 10;
			var end = allText.indexOf(";", pos);
			document.getElementById("f_version").innerHTML = allText.slice(pos, end);
			pos = allText.indexOf("h_version=") + 10;
			end = allText.indexOf(";", pos);
			document.getElementById("h_version").innerHTML = allText.slice(pos, end);
			pos = allText.indexOf("sensor_type=") + 12;
			end = allText.indexOf(";", pos);
			document.getElementById("sensor_type").innerHTML = allText.slice(pos, end);
			pos = allText.indexOf("location=") + 9;
			end = allText.indexOf(";", pos);
			document.getElementById("location").innerHTML = allText.slice(pos, end);
		}
	</script>
</head>
<body onload="loadConfigDoc();">
	<div class="topnav">
		<a href="index.html">Configuration</a>
		<a class="active" href="log.html">Log</a>
		<a href="sensor_data.html">Sensor data</a>
		<div class="info">
			Firmware Version: <strong id="f_version"> %F_VERSION%</strong><br>
			Hardware Version: <strong id="h_version"> %H_VERSION%</strong><br>
			Sensor Type: <strong id="sensor_type"> %S_TYPE%</strong><br>
			Location: <strong id="location"> %S_LOCATION%</strong><br>
		</div>
	</div> 
  
	<h1>ESP-MONITOR - LOG</h1>

	<div style="border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
	%LOG%
	</div>
  
</body>
</html>
