menu "Network Configuration"
    choice ACTIVE_NETWORK_ADAPTOR
        prompt "Connect using"
        default ACTIVE_WIFI
        help
            Protocol examples can use Wi-Fi or Ethernet to connect to the network.
            Choose which interface to use.

        config ACTIVE_WIFI
            bool "Use WIFI"

        config ACTIVE_ETHERNET
            bool "Use Ethernet"
    endchoice

    if ACTIVE_WIFI
        config ESP_WIFI_SSID
            string "WiFi SSID"
            default "myssid"
            help
                SSID (network name) for the example to connect to.

        config ESP_WIFI_PASSWORD
            string "WiFi Password"
            default "mypassword"
            help
                WiFi password (WPA or WPA2) for the example to use.
                Can be left blank if the network has no security set.
    endif
endmenu