<!DOCTYPE html>
<html>
<head>
	<title>ESP-MONITOR - Configuration</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="data:,">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="topnav">
		<a class="active" href="index.html">Configuration</a>
		<a href="log.html">Log</a>
		<a href="sensor_data.html">Sensor data</a>
		<div class="info">
			Firmware Version: <strong> %F_VERSION%</strong><br>
			Hardware Version: <strong> %H_VERSION%</strong><br>
			Sensor Type: <strong> %S_TYPE%</strong><br>
			Location: <strong> %S_LOCATION%</strong><br>
		</div>
	</div> 

	<h1>ESP-MONITOR - Configuration</h1>
	<form>
		<h2>General:</h2>
		ID:&nbsp;
		<input type="text" name="id" value="%ID%"><br><br>
		Name:&nbsp;
		<input type="text" name="name" value="%NAME%"><br><br>
		Location:&nbsp;
		<input type="text" name="location" value="%S_LOCATION%"><br><br>
		
		<h2>Sensor:</h2>
		Sensor type:&nbsp;
		<select name="sensor_type">
			<option value="seismic">Seismic</option>
			<option value="temp_hum" selected>Temperature/Humidity</option>
		</select> <br><br>
		Refresh rate:&nbsp;
		<input type="text" name="refresh_rate" value="%REFRESH_RATE%">s (numbers only)<br><br>
		Alarm threshold min:&nbsp;
		<input type="text" name="alarm_treshold_min" value="%ALARM_MIN%"> (numbers only)<br><br>
		Alarm threshold max:&nbsp;
		<input type="text" name="alarm_treshold_max" value="%ALARM_MAX%"> (numbers only)<br><br>

		<h2>Network:</h2>
		ESP32 IP:&nbsp;
		<input type="text" name="esp32_ip" value="%ESP32_IP%"> <br><br>
		MQTT Server IP:&nbsp;
		<input type="text" name="mqtt_ip" value="%MQTT_IP%"> <br><br>
		
		<h2>Data Logging:</h2>
		<input type="radio" name="data_logging" value="%LOG_ACTIV%" checked> Activate<br>
		<input type="radio" name="data_logging" value="%LOG_UNACTIV%"> Desactivate<br><br>
		Maximum days in memory:&nbsp;
		<input type="text" name="log_days" value="%LOG_DAYS%"> <br><br>

		<br>
		<input type="submit" value="Save">&nbsp;&nbsp; <input type="reset">
	</form> 


</body>
</html>
